[submodule "PAD-Communication-Service"]
	path = PAD-Communication-Service
	url = https://github.com/dott13/PAD-Communication-Service.git
[submodule "PAD-Task-Service"]
	path = PAD-Task-Service
	url = https://github.com/parquett/PAD-Task-Service.git
[submodule "PAD-Voting-Service"]
	path = PAD-Voting-Service
	url = https://github.com/parquett/PAD-Voting-Service.git
[submodule "PAD-Rumors-Service"]
	path = PAD-Rumors-Service
	url = https://github.com/dott13/PAD-Rumors-Service.git
[submodule "PAD-Character-Service"]
	path = PAD-Character-Service
	url = https://github.com/MariusPopa1/PAD-Character-Service
[submodule "PAD-Town-Service"]
	path = PAD-Town-Service
	url = https://github.com/MariusPopa1/PAD-Town-Service
